/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}






/* --------------------------
      menu css 
---------------------------*/

main{
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
}


/* .menu{
    
}
.menu-items{
    display: flex;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    
}
.menu-items ul li{
    list-style: none;
    
}
.menu-items ul li a{
    text-decoration: none;
} */


/* ----------------------
bannner part css 
------------------------*/

.banner{
    width: 1160px;
    margin: 105px;
}
.banner-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-column-gap:85px;
}
/* .banner-content{
    position: relative;
    top: 0;
} */
.banner-content h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    color: #ffff;
    width: 485px;  

}
/* .banner-content{
    grid-column: ;
} */
.banner-image img{
    width: 100%;
}
.copa-btn{
    background-color: #E02C6D;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: cornsilk;

}
.copa-btn span{
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
}


/* -----------------------------
       top players part css
------------------------------ */
blog{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}


.top-players{
    width: 1160px;
    margin-top: 85px;
}
.top-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    /* background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
}
.player-1{
    width: 330px;
    height: 426px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 30px 15px;
    align-items: center;
}
.player-1 img{
    width: 100%;
}

/* ------------------------
     highlights css 
----------------------------*/
#allHighlights{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

.highlights{
    width: 1160px;
}
.highlight-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 27px;
    grid-column-gap: 60px;
}

.highlight-content h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}
.highlight-content p{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
}
.highlight-image img{
    width: 550px;
    height: 427px;
}




/* footer part css */


footer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
   
}
.footer-items {
   align-items: center;
   text-align: center;
   width: 480px;
}
.footer-item img{
    width: 100%;
}

.footer-items p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.footer-item .fab{
    font-size: 24px;
    margin-right: 15px;
    color: #969BAB;
}
.fab:hover{
    color: #E02C6D;
    transition: 0.5s;
}